# Environment variables
.env

# Go binaries and build artifacts
bin/
main
main.exe
*.exe
*.test
*.prof

# Dependencies (if you don't want to vendor them)
vendor/

# IDE specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db